<div id='schedule'>
  <div class='container text-center ml-auto'>
    <h1>スケジュール</h1>

    <%= form_with url: 'select', remote: true do |f| %>
      <ul class='list-unstyled form-group' >
        <li>
          <%= f.select :tv,
            { "テレビ局": :none, "N H K": :nhk, "日本テレビ": :ntv }, {},
            { class: 'form-control drop-item' } %>
        </li>
      </ul>
    <%= f.submit '絞り込み', class: 'btn btn-block btn-primary' %>
    <% end %>
    <%= render partial: 'table' %>
  </div>
</div>
