<div class="container text-center">
  <h1>Pool</h1>

  <%= render partial: "pooltable", locals: {pool: @pool_a, results: @results_a, pool_name: "プールA"} %>
  <%= render partial: "pooltable", locals: {pool: @pool_b, results: @results_b, pool_name: "プールB"} %>
  <%= render partial: "pooltable", locals: {pool: @pool_c, results: @results_c, pool_name: "プールC"} %>
  <%= render partial: "pooltable", locals: {pool: @pool_d, results: @results_d, pool_name: "プールD"} %>
</div>
